<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Арена</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>
<body>
        <div id="div">
            <!-- Text will be here -->
        </div>
<!--        <script src="bundle.js"></script>-->
    </body>
</html>